# SAMPLE SCHEMA
[
   {
      "name":"Contracts",
      "table":"contracts",
      "measures":[
         {
            "name":"contract_count",
            "type":"count"
         },
         {
            "name":"contract_duration",
            "type":"number",
            "sql":"${contract_end_date} - ${contract_start_date}"
         },
         {
            "name":"contract_avg_duration",
            "type":"avg",
            "sql":"${contract_duration}"
         }
      ],
      "dimensions":[
         {
            "name":"contract_code",
            "type":"string",
            "sql":"contract_code"
         },
         {
            "name":"store_id",
            "type":"string",
            "sql":"store_id"
         },
         {
            "name":"tenant_code",
            "type":"string",
            "sql":"tenant_code"
         },
         {
            "name":"tenant_name",
            "type":"string",
            "sql":"tenant_name"
         },
         {
            "name":"store_brand",
            "type":"string",
            "sql":"store_brand"
         },
         {
            "name":"branch_segment_1",
            "type":"string",
            "sql":"branch_segment_1"
         },
         {
            "name":"branch_segment_2",
            "type":"string",
            "sql":"branch_segment_2"
         },
         {
            "name":"contract_start_date",
            "type":"date",
            "sql":"contract_start_date"
         },
         {
            "name":"contract_end_date",
            "type":"date",
            "sql":"contract_end_date"
         }
      ],
      "joins":[
         {
            "name":"corrispettivi",
            "join_type":"left",
            "sql":"${Contracts.contract_code} = ${Fees.contract_id}"
         }
      ]
   },
   {
      "name":"Fees",
      "table":"fees",
      "measures":[
         {
            "name":"total_taxable",
            "type":"sum",
            "sql":"imponibile_tot"
         },
         {
            "name":"total_revenue",
            "type":"sum",
            "sql":"totale_tot"
         }
      ],
      "dimensions":[
         {
            "name":"contract_id",
            "type":"string",
            "sql":"contract_id"
         },
         {
            "name":"code",
            "type":"string",
            "sql":"code"
         },
         {
            "name":"station",
            "type":"string",
            "sql":"station"
         },
         {
            "name":"tenant_id",
            "type":"string",
            "sql":"tenant_id"
         },
         {
            "name":"day",
            "type":"date",
            "sql":"day"
         },
         {
            "name":"store_id",
            "type":"string",
            "sql":"store_id"
         }
      ],
      "joins":[
         {
            "name":"contracts",
            "join_type":"right",
            "sql":"${Fees.contract_id} = ${Fees.contract_code}"
         }
      ]
   }
]

# DATABASE
{% for df in context.dfs %}{% set index = loop.index %}{% include 'shared/dataframe.tmpl' with context %}{% endfor %}

Take a deep breath and reason step by step. Create one json schema for these tables, similar to the sample provided. Also create joins, if any.
