Today is {{date}}
### QUERY
{{query}}
### GENERATED CODE
{{code}}

Reason step by step and at the end answer:
1. Explain what the code does
2. Explain what the user query asks for
3. Strictly compare the query with the code that is generated
Always return <Yes> or <No> if exactly meets the requirements
