[tool.poetry]
name = "pandasai"
version = "0.7.1"
description = "Pandas AI is a Python library that integrates generative artificial intelligence capabilities into Pandas, making dataframes conversational."
authors = ["Gabriele Venturi"]
license = "MIT"
readme = "README.md"
packages = [{include = "pandasai"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.9.7 || >3.9.7,<4.0"
python-dotenv = "^1.0.0"
pandas = "1.5.3"
astor = "^0.8.1"
openai = "^0.27.5"
ipython = "^8.13.1"
matplotlib = "^3.7.1"
google-generativeai = { version = "^0.1.0rc2", optional = true }
google-cloud-aiplatform = { version = "^1.26.1", optional = true }
langchain = { version = "^0.0.199", optional = true}

[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
pre-commit = "^3.2.2"
ruff = "^0.0.220"
pytest = "^7.3.1"
pytest-mock = "^3.10.0"
pytest-env = "^0.8.1"
click = "^8.1.3"


[tool.poetry.group.extras.dependencies]
google-cloud-aiplatform = "^1.26.1"

[tool.poetry.extras]
google = ["google-generativeai"]
tests = ["numpy", "seaborn"]
langchain = ["langchain"]
google-cloud = ["google-cloud-aiplatform"]

[tool.poetry.group.whitelist.dependencies]
statsmodels = {version = "^0.14.0", optional = true}
scikit-learn = {version = "^1.2.2", optional = true}
seaborn = {version = "^0.12.2", optional = true}
plotly = {version = "^5.14.1", optional = true}
ggplot = {version = "^0.11.5", optional = true}
numpy = {version = "^1.17", optional = true}
scipy = {version = "^1.9.0", optional = true}
streamlit = { version = "^1.23.1", optional = true }

[tool.poetry.group.docs.dependencies]
mkdocs = "1.4.0"
mkdocstrings-python = "0.7.1"
markdown-include = "^0.6.0"

[tool.poetry.scripts]
pai = "pai.__main__:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = ["tests_*"]

[tool.pytest.ini_options]
env = [
    "HUGGINGFACE_API_KEY=",
    "OPENAI_API_KEY="
]
