[tool.poetry]
name = "pandasai"
version = "0.2.11"
description = "Pandas AI is a Python library that integrates generative artificial intelligence capabilities into Pandas, making dataframes conversational."
authors = ["Gabriele Venturi"]
license = "MIT"
readme = "README.md"
packages = [{include = "pandasai"}]

[tool.poetry.dependencies]
python = "^3.9"
python-dotenv = "^1.0.0"
pandas = "^2.0.1"
astor = "^0.8.1"
openai = "^0.27.5"
ipython = "^8.13.1"
matplotlib = "^3.7.1"


[tool.poetry.group.dev.dependencies]
black = "^23.3.0"
pre-commit = "^3.2.2"
pylint = "^2.17.3"
pytest = "^7.3.1"
isort = "^5.12.0"
pytest-mock = "^3.10.0"
pytest-env = "^0.8.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pylint]
ignore = "tests_*"

[tool.pytest.ini_options]
env = [
    "HUGGINGFACE_API_KEY=",
    "OPENAI_API_KEY="
]
