[tool.poetry]
name = "pandasai"
version = "2.0.9"
description = "Chat with your database (SQL, CSV, pandas, polars, mongodb, noSQL, etc). PandasAI makes data analysis conversational using LLMs (GPT 3.5 / 4, Anthropic, VertexAI) and RAG."
authors = ["Gabriele Venturi"]
license = "MIT"
readme = "README.md"
packages = [{include = "pandasai"}]

[tool.poetry.dependencies]
python = ">=3.9,<3.9.7 || >3.9.7,<4.0"
python-dotenv = "^1.0.0"
pandas = "1.5.3"
astor = "^0.8.1"
openai = "<2"
ipython = "^8.13.1"
matplotlib = "^3.7.1"
pydantic = ">=1,<3"
sqlalchemy = ">=1.4,<3"
duckdb = "^0.9.2"
faker = "^19.12.0"
pillow = "^10.1.0"
requests = "^2.31.0"
jinja2 = "^3.1.3"
modin = {version = "0.18.1", optional = true, extras=["ray"]}
beautifulsoup4 = {version="^4.12.2", optional = true}
google-generativeai = {version = "^0.3.2", optional = true}
google-cloud-aiplatform = {version = "^1.26.1", optional = true}
langchain = {version = "^0.1.0", optional = true}
polars = {version = "^0.18.15", optional = true}
statsmodels = {version = "^0.14.0", optional = true}
scikit-learn = {version = "^1.2.2", optional = true}
seaborn = {version = "^0.12.2", optional = true}
plotly = {version = "^5.15.0", optional = true}
kaleido = {version = "0.2.0", optional = true}
ggplot = {version = "^0.11.5", optional = true}
numpy = {version = "^1.17", optional = true}
scipy = {version = "^1.9.0", optional = true}
streamlit = {version = "^1.23.1", optional = true}
text-generation = { version = ">=0.6.0", optional = true }
openpyxl = { version = "^3.0.7", optional = true }
pymysql = { version = "^1.1.0", optional = true }
psycopg2 = { version = "^2.9.7", optional = true }
yfinance = { version = "^0.2.28", optional = true }
sqlalchemy-databricks = { version = "^0.2.0", optional = true }
snowflake-sqlalchemy = { version = "^1.5.0", optional = true }
flask = { version = "^3.0.2", optional = true }
sqlalchemy-cockroachdb = { version = "^2.0.2", optional = true }
sqlalchemy-bigquery = {version = "^1.8.0", optional = true, markers = "python_version >= '3.8' and python_version < '3.13'"}
chromadb = {version = "^0.4.22", optional = true}
boto3 = { version = ">=1.34.59", optional = true }

[tool.poetry.group.dev]
optional = true


[tool.poetry.group.dev.dependencies]
pre-commit = "^3.2.2"
ruff = "^0.1.0"
codespell = "^2.2.0"
pytest = "^7.3.1"
pytest-mock = "^3.10.0"
pytest-env = "^0.8.1"
click = "^8.1.3"
coverage = "^7.2.7"
sourcery = "^1.11.0"


[tool.poetry.extras]
connectors = [ "pymysql", "psycopg2", "sqlalchemy-cockroachdb", "sqlalchemy-databricks", "sqlalchemy-bigquery", "snowflake-sqlalchemy"]
google-ai = ["google-generativeai", "google-cloud-aiplatform"]
google-sheets = ["beautifulsoup4"]
excel = ["openpyxl"]
polars = ["polars"]
langchain = ["langchain", "langchain_openai", "langchain_community"]
numpy = ["numpy"]
ggplot = ["ggplot"]
seaborn = ["seaborn"]
plotly = ["plotly", "kaleido"]
statsmodels = ["statsmodels"]
scikit-learn = ["scikit-learn"]
streamlit = ["streamlit"]
text-generation = ["fsspec", "huggingface-hub", "text-generation"]
yfinance = ["yfinance"]
modin = ["modin", "ray"]
chromadb = ["chromadb"]
bedrock = ["boto3"]


[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "1.5.3"
mkdocstrings-python = "1.7.2"
markdown-include = "^0.6.0"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = ["tests_*"]

[tool.pytest.ini_options]
env = [
    "HUGGINGFACE_API_KEY=",
    "OPENAI_API_KEY="
]
