.custom-slider {
  width: 100%;
  height: 2px;
  background-color: white;
}

.custom-slider .thumb {
  width: 10px;
  height: 10px;
  cursor: grab;
  background: white;
  border-radius: 50%;
  border: 2px solid white;
  top: -4px;
}
.custom-slider .track-1 {
  background-color: blue;
}
