- explain your reasoning to implement the last step to the user that asked for it; it should be wrapped between <reasoning></reasoning> tags;
- answer to the user as you would do as a data analyst; wrap it between <answer></answer> tags; do not include the value or the chart itself (it will be calculated later);