
You are provided with the following pandas DataFrames:

{dataframes}

<conversation>
{conversation}
</conversation>

Based on the conversation, are there any clarification questions that a senior data scientist would ask about the query "{query}"?

It is extremely important that you follow the following guidelines when generating clarification questions:
- Ask questions a non technical person could answer. Do not include technical terms, do not ask for questions that require knowledge about how the dataframes are structured or about a specific column.
- Only ask for questions related to the query if the query is not clear or ambiguous and that cannot be deduced from the context.
- Return a maximum of 3 questions. The lower the number of questions, the better.
- If no meaningful clarification questions can be asked, return an empty array.

Return the JSON array of the clarification questions. 

Json: