{dataframes}

The user asked the following question:
{conversation}

You generated this python code:
{code}

Fix the python code above and return the new python code but the result type should be: {output_type_hint}