# TODO import all the dependencies required
{default_import}

def analyze_data(dfs: list[{engine_df_name}]) -> dict:
    """
    {instructions}
    At the end, return a dictionary of:
    {output_type_hint}
    """