You are provided with the following pandas DataFrames:

{dataframes}

<conversation>
{conversation}
</conversation>

This is the initial python code:
```python
{current_code}
```

Use the provided dataframes (`dfs`) to update the python code within the `analyze_data` function.
If the new query from the user is not relevant with the code, rewrite the content of the `analyze_data` function from scratch.
It is very important that you do not change the params that are passed to `analyze_data`.

Return the updated code: