
You are provided with the following pandas DataFrames:

{dataframes}
{conversation}

Use the provided dataframe and conversation we have had to Return the rephrased 
sentence of "{query}” in order to obtain more accurate and comprehensive responses 
without any explanations.
"""

    conversation_text: str = """
And based on our conversation:

<conversation>
{conversation}
</conversation>