# Database
POSTGRES_URL=postgresql+asyncpg://pandasai:password123@postgresql:5432/pandasai-db
TEST_POSTGRES_URL=postgresql+asyncpg://pandasai:password123@postgresql:5432/pandasai-db
PANDASAI_API_KEY=
# OPENAI_API_KEY= use only in case you want to use OpenAI else use PANDASAI_API_KEY

# Environment
ENVIRONMENT=development
DEBUG=1
SHOW_SQL_ALCHEMY_QUERIES=0
