# Database
POSTGRES_URL=postgresql+asyncpg://postgres:password123@127.0.0.1:5432/fastapi-db
TEST_POSTGRES_URL=postgresql://postgres:password123@127.0.0.1:5431/db-test

# Environment
ENVIRONMENT=development
DEBUG=1
SHOW_SQL_ALCHEMY_QUERIES=0
