{% for df in context.dfs %}{% set index = loop.index %}{% include 'shared/dataframe.tmpl' with context %}{% endfor %}

<conversation>
{{context.memory.get_conversation()}}
</conversation>

Find the clarification questions that could be asked to a senior data scientist would ask about the query "{{query}}"?
- Only ask for questions related to the query if the query is not clear or ambiguous and that cannot be deduced from the context.
- Return up to 3 questions.

Example:
['Question 1', 'Question 2']

Return a JSON list of the clarification questions strings.

Json: