=== SemanticAgent ===
The user asked the following question:
{{context.memory.get_conversation()}}
# SCHEMA
{{schema}}

You generated this Json:
{{generated_json}}

It fails with the following error:
{{error}}

Understand the error in json return the fixed json